 
/*This is CSS for the entire web page*/

body, h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
    
}

body{
    font-family: "Fira_Sans", "Arial"
    
   
}

a{
    text-decoration: none;
}

li{
    display: inline;
    list-style: none; 
}

.logo{
width: 150px;
margin-top: 0px;
}


.logo
img:hover {
    opacity: .5; 
    transition: 1s; 
    
}

.work
img:hover {
    opacity: .5; 
    transition: 1s; 
    
}

}



.footer {
    margin-top: 100px
}