 
/*This is CSS for the entire web page*/

body, h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
    
}

body{
    font-family: "Fira_Sans", "Arial"
    
   
}

a{
    text-decoration: none;
}

li{
    display: inline;
    list-style: none; 
}

.logo{
width: 150px;
margin-top: 0px;
}


.logo
img:hover {
    opacity: .5; 
    transition: 1s; 
    
}
.greeting{
width: 1050px;
height:auto;
margin: auto;
font-size: 45px;
margin-top: 100px;
}

.greetingcontent{
width: 1050px;
height:auto;
margin: auto;
margin-top: 0px;
font-size: 20px
}
 
.container {
width: 899px;
height:auto;
margin: auto;

}


.container
img:hover {
    opacity: .5; 
    transition: 1s; 
    
}


img{
display:inline;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin: 15px 25px 0px 0px;
}



.resume{
display:inline;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin: 15px 25px 0px 0px;
width: 899px;
height:auto;
margin: auto;

}

.resume
img:hover {
    opacity: .5; 
    transition: 1s; 
   
    
}

.work
img:hover {
    opacity: .5; 
    transition: 1s; 
   
    
}

.wallows {
display:inline-block;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin: 0px -200px 0px 200px;

}

.resumetitle{
width: 1050px;
height:auto;
margin: auto;
font-size: 45px;
margin-top: 25px;
}

.grid{
display:inline-block;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin: 15px 10px 0px 100px;
}


.workcontent {
width: 1050px;
height:auto;
margin: auto;
margin-top: 0px;
font-size: 15px
}

.workcontent 
    img:hover {
    opacity: .5; 
    transition: 1s; 
}
    
.about {
display:inline-block;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin: 15px -400px 150px 350px;

}
   
        
.quickfacts {
width: 899px;
height:auto;
margin: auto;
}

.footer {
    margin-top: 100px
}